@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080E20;
}

@layer base {
  section {
    @apply flex w-full lg:h-screen items-center border-b-2
  }
}
