@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080E20;
}

@layer base {
  main {
    @apply flex flex-col items-center w-full h-full lg:px-16
  }
  section {
    @apply flex w-full lg:h-screen items-center border-b-2
  }

  h2 {
    @apply text-3xl lg:text-4xl font-extrabold text-[#691AEA]
  }
}
